{{ header }}
{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="submit" form="form-analytics" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
			<div class="card-body">
				<form id="form-analytics" action="{{ action }}" method="post" data-oc-toggle="ajax">

					<ul class="nav nav-tabs">
						<li class="nav-item"><a href="#tab-general" data-bs-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
						<li class="nav-item"><a href="#tab-products" data-bs-toggle="tab" class="nav-link">{{ tab_products }}</a></li>
						<li class="nav-item"><a href="#tab-categories" data-bs-toggle="tab" class="nav-link">{{ tab_categories }}&nbsp;&nbsp;<svg class="icon icon-pro-feature" aria-hidden="true" width="29" height="14"><use xlink:href="#icon-pro-feature"></use></svg></a></li>
						<li class="nav-item"><a href="#tab-manufacturers" data-bs-toggle="tab" class="nav-link">{{ tab_manufacturers }}&nbsp;&nbsp;<svg class="icon icon-pro-feature" aria-hidden="true" width="29" height="14"><use xlink:href="#icon-pro-feature"></use></svg></a></li>
						<li class="nav-item"><a href="#tab-informations" data-bs-toggle="tab" class="nav-link">{{ tab_informations }}&nbsp;&nbsp;<svg class="icon icon-pro-feature" aria-hidden="true" width="29" height="14"><use xlink:href="#icon-pro-feature"></use></svg></a></li>
						<li class="nav-item"><a href="#tab-support" data-bs-toggle="tab" class="nav-link">{{ tab_help_and_support }}</a></li>
					</ul>

					<div class="tab-content">
						<div id="tab-general" class="tab-pane active">

							<div class="row mb-3">
								<label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="module_ps_live_search_status" value="0">
										<input type="checkbox" name="module_ps_live_search_status" value="1" id="input-status" class="form-check-input" {% if module_ps_live_search_status %} checked{% endif %}>
									</div>
								</div>
							</div>

							<div class="row mb-3 required">
								<label for="input-input-delay" class="col-sm-2 col-form-label">{{ entry_input_delay }}</label>
								<div class="col-sm-10">
									<input type="text" name="module_ps_live_search_input_delay" value="{{ module_ps_live_search_input_delay | default('100') }}" placeholder="{{ entry_input_delay }}" id="input-input-delay" class="form-control">
									<div id="error-input-input-delay" class="invalid-feedback"></div>
									<div class="form-text">{{ help_input_delay }}</div>
								</div>
							</div>

							<div class="row mb-3 required">
								<label for="input-input-min-chars" class="col-sm-2 col-form-label">{{ entry_input_min_chars }}</label>
								<div class="col-sm-10">
									<input type="text" name="module_ps_live_search_input_min_chars" value="{{ module_ps_live_search_input_min_chars | default('1') }}" placeholder="{{ entry_input_min_chars }}" id="input-input-min-chars" class="form-control">
									<div id="error-input-input-min-chars" class="invalid-feedback"></div>
									<div class="form-text">{{ help_input_min_chars }}</div>
								</div>
							</div>

						</div>
						<div id="tab-products" class="tab-pane">

							<div class="row mb-3">
								<label for="input-product-status" class="col-sm-2 col-form-label">{{ entry_product_status }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="module_ps_live_search_product_status" value="0">
										<input type="checkbox" name="module_ps_live_search_product_status" value="1" class="form-check-input" {% if module_ps_live_search_product_status %} checked{% endif %} id="input-product-status">
									</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-product-description" class="col-sm-2 col-form-label">{{ entry_product_description }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="module_ps_live_search_product_description" value="0">
										<input type="checkbox" name="module_ps_live_search_product_description" value="1" class="form-check-input" {% if module_ps_live_search_product_description %} checked{% endif %} id="input-product-description">
									</div>
								</div>
							</div>

							<div class="row mb-3 required">
								<label for="input-product-description-length" class="col-sm-2 col-form-label">{{ entry_product_description_length }}</label>
								<div class="col-sm-10">
									<input type="text" name="module_ps_live_search_product_description_length" value="{{ module_ps_live_search_product_description_length | default('200') }}" placeholder="{{ entry_product_description_length }}" id="input-product-description-length" class="form-control">
									<div id="error-input-product-description-length" class="invalid-feedback"></div>
									<div class="form-text">{{ help_product_description_length }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-product-image" class="col-sm-2 col-form-label">{{ entry_product_image }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="module_ps_live_search_product_image" value="0">
										<input type="checkbox" name="module_ps_live_search_product_image" value="1" class="form-check-input" {% if module_ps_live_search_product_image %} checked{% endif %} id="input-product-image">
									</div>
								</div>
							</div>

							<div class="row mb-3 required">
								<label for="input-product-image-width" class="col-sm-2 col-form-label">{{ entry_product_image_size }}</label>
								<div class="col-sm-10">
									<div id="input-image-thumb" class="row">
										<div class="col-sm-6">
											<input type="text" name="module_ps_live_search_product_image_width" value="{{ module_ps_live_search_product_image_width }}" placeholder="{{ entry_width }}" id="input-product-image-width" class="form-control">
											<div id="error-input-product-image-width" class="invalid-feedback"></div>
										</div>
										<div class="col-sm-6">
											<input type="text" name="module_ps_live_search_product_image_height" value="{{ module_ps_live_search_product_image_height }}" placeholder="{{ entry_height }}" id="input-product-image-height" class="form-control">
											<div id="error-input-product-image-height" class="invalid-feedback"></div>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div id="tab-categories" class="tab-pane">

							<div class="row mb-3">
								<label for="input-category-status" class="col-sm-2 col-form-label">{{ entry_category_status }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="module_ps_live_search_category_status" value="0">
										<input type="checkbox" name="module_ps_live_search_category_status" value="1" disabled id="input-category-status" class="form-check-input" {% if module_ps_live_search_category_status %} checked{% endif %}>
									</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-category-image" class="col-sm-2 col-form-label">{{ entry_category_image }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="module_ps_live_search_category_image" value="0">
										<input type="checkbox" name="module_ps_live_search_category_image" value="1" disabled id="input-category-image" class="form-check-input" {% if module_ps_live_search_category_image %} checked{% endif %}>
									</div>
								</div>
							</div>

							<div class="row mb-3 required">
								<label for="input-category-image-width" class="col-sm-2 col-form-label">{{ entry_category_image_size }}</label>
								<div class="col-sm-10">
									<div id="input-image-thumb" class="row">
										<div class="col-sm-6">
											<input type="text" name="module_ps_live_search_category_image_width" value="{{ module_ps_live_search_category_image_width }}" placeholder="{{ entry_width }}" id="input-category-image-width" disabled class="form-control">
											<div id="error-input-category-image-width" class="invalid-feedback"></div>
										</div>
										<div class="col-sm-6">
											<input type="text" name="module_ps_live_search_category_image_height" value="{{ module_ps_live_search_category_image_height }}" placeholder="{{ entry_height }}" id="input-category-image-height" disabled class="form-control">
											<div id="error-input-category-image-height" class="invalid-feedback"></div>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div id="tab-manufacturers" class="tab-pane">

							<div class="row mb-3">
								<label for="input-manufacturer-status" class="col-sm-2 col-form-label">{{ entry_manufacturer_status }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="module_ps_live_search_manufacturer_status" value="0">
										<input type="checkbox" name="module_ps_live_search_manufacturer_status" value="1" disabled id="input-manufacturer-status" class="form-check-input" {% if module_ps_live_search_manufacturer_status %} checked{% endif %}>
									</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-manufacturer-image" class="col-sm-2 col-form-label">{{ entry_manufacturer_image }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="module_ps_live_search_manufacturer_image" value="0">
										<input type="checkbox" name="module_ps_live_search_manufacturer_image" value="1" disabled id="input-manufacturer-image" class="form-check-input" {% if module_ps_live_search_manufacturer_image %} checked{% endif %}>
									</div>
								</div>
							</div>

							<div class="row mb-3 required">
								<label for="input-manufacturer-image-width" class="col-sm-2 col-form-label">{{ entry_manufacturer_image_size }}</label>
								<div class="col-sm-10">
									<div id="input-image-thumb" class="row">
										<div class="col-sm-6">
											<input type="text" name="module_ps_live_search_manufacturer_image_width" value="{{ module_ps_live_search_manufacturer_image_width }}" placeholder="{{ entry_width }}" id="input-manufacturer-image-width" disabled class="form-control">
											<div id="error-input-manufacturer-image-width" class="invalid-feedback"></div>
										</div>
										<div class="col-sm-6">
											<input type="text" name="module_ps_live_search_manufacturer_image_height" value="{{ module_ps_live_search_manufacturer_image_height }}" placeholder="{{ entry_height }}" id="input-manufacturer-image-height" disabled class="form-control">
											<div id="error-input-manufacturer-image-height" class="invalid-feedback"></div>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div id="tab-informations" class="tab-pane">

							<div class="row mb-3">
								<label for="input-information-status" class="col-sm-2 col-form-label">{{ entry_information_status }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="module_ps_live_search_information_status" value="0">
										<input type="checkbox" name="module_ps_live_search_information_status" value="1" disabled class="form-check-input" {% if module_ps_live_search_information_status %} checked{% endif %} id="input-information-status">
									</div>
								</div>
							</div>

						</div>
						<div id="tab-support" class="tab-pane">

							<h3>{{ heading_getting_started }}</h3>
							{{ text_getting_started }}
							<hr>
							<h3>{{ heading_setup }}</h3>
							{{ text_setup }}
							<hr>
							<h3>{{ heading_troubleshot }}</h3>
							{{ text_troubleshot }}
							<hr>
							<h2>{{ heading_fix }}</h2>
							<div class="row mb-3">
								<div class="col-sm-10">
									<button type="button" data-fix-action="{{ fix_event_handler }}" data-bs-toggle="tooltip" title="{{ button_fix_event_handler }}" class="btn btn-primary"><i class="fa-solid fa-gear"></i> {{ button_fix_event_handler }}</button>
								</div>
							</div>
							<hr>
							<h3>{{ heading_faq }}</h3>
							{{ text_faq }}
							<hr>
							<h3>{{ heading_contact }}</h3>
							{{ text_contact }}

						</div>

					</div>

				</form>
			</div>
		</div>
	</div>
</div>
<svg aria-hidden="true" overflow="hidden" style="position:absolute;width:0;height:0">
	<defs>
			<symbol id="icon-pro-feature" viewBox="0 0 29.9 14">
				<path fill="#262626" d="M28.1 14H1.8c-1 0-1.8-.8-1.8-1.8V1.8C0 .8.8 0 1.8 0H28c1 0 1.8.8 1.8 1.8v10.3c.1 1.1-.7 1.9-1.7 1.9"></path>
				<path fill="#FFF" d="M10.4 6.9c-.2.3-.4.6-.8.8s-.8.3-1.4.3h-1v2.4H5.6V3.7h2.6c.5 0 1 .1 1.3.3.4.2.6.4.8.8.2.3.3.7.3 1.1.1.3 0 .7-.2 1m-1.6-.5c.2-.1.2-.3.2-.6 0-.2 0-.4-.2-.6-.1-.1-.4-.2-.7-.2h-.9v1.7h.9c.3 0 .6-.1.7-.3M14.9 10.4l-1.4-2.5h-.4v2.5h-1.6V3.7h2.7c.5 0 1 .1 1.3.3.4.2.6.4.8.8.2.3.3.7.3 1.1s-.1.8-.4 1.2c-.3.3-.6.6-1.1.7l1.5 2.6zm-1.7-3.7h1c.3 0 .5-.1.7-.2.1-.1.2-.4.2-.6 0-.3-.1-.5-.2-.6s-.4-.3-.7-.3h-1zM19.2 10q-.75-.45-1.2-1.2c-.3-.5-.5-1.1-.5-1.8s.2-1.2.5-1.8q.45-.75 1.2-1.2c.5-.3 1.1-.4 1.7-.4s1.2.1 1.7.4q.75.45 1.2 1.2c.3.5.5 1.1.5 1.8s-.2 1.2-.5 1.8q-.45.75-1.2 1.2c-.5.3-1.1.4-1.7.4s-1.2-.1-1.7-.4m3-1.6c.3-.4.4-.8.4-1.4s-.2-1.1-.5-1.4c-.3-.4-.7-.5-1.3-.5-.5 0-1 .2-1.3.5S19 6.4 19 7s.2 1.1.5 1.4c.3.4.7.5 1.3.5s1-.1 1.4-.5"></path>
			</symbol>
	</defs>
</svg>
<script>
	$('button[data-fix-action]').on('click', function() {
		var $this = $(this);
		var action = $(this).data('fix-action');

		$.ajax({
			url: action,
			dataType: 'json',
			beforeSend: function () {
				$($this).button('loading');
			},
			complete: function () {
				$($this).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				if (json['error']) {
					$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}

				if (json['success']) {
					$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
</script>
{{ footer }}
